{% extends "vmconnectapp/base.html" %}

{% block content %}

<div class="container">
    <h1>Domains and Configurations</h1>
    <div id="table-container"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch('/domains/nginx_data/')  // Загружаем данные из API
            .then(response => response.json())
            .then(data => {
                new gridjs.Grid({
                    columns: [
                        { id: "source", name: "Source" },
                        { id: "domain_name", name: "Domain Name" },
                        { id: "waf", name: "WAF" },
                        { id: "ip_addresses", name: "IP Addresses" },
                        { id: "listen_ports", name: "Listen Ports" }
                    ],
                    data: data.data,
                    search: true,
                    sort: true
                }).render(document.getElementById("table-container"));
            });
    });
</script>

{% endblock content %}