asgiref==3.8.1
astroid==3.3.10
dill==0.3.9
Django==4.2.14
django-simple-history==3.8.0
djangorestframework==3.15.2
isort==5.13.2
mccabe==0.7.0
nginxparser @ git+https://github.com/pyhedgehog/nginxparser.git@4d8e617860a20fbe7bdf169f892646c0c0369c11
platformdirs==4.3.6
pyparsing==3.2.0
python-dotenv==1.0.1
pyvmomi==8.0.3.0.1
six==1.16.0
sqlparse==0.5.1
tomli==2.0.2
tomlkit==0.13.2
tqdm==4.67.1
typing_extensions==4.12.2
