{% extends "vmconnectapp/base.html" %}

{% block content %}

    <div class="container">
        <div class="col-md-6">
            <h2 class="text-body-emphasis">Устаревшие ОС</h2>
            <ul class="list-unstyled ps-0">
            <li>
                <a class="icon-link mb-1" href="/vmsall" rel="noopener">
                Всего виртуальных машин: 
                </a>
                {{ vmsCount }}
            </li>
            <li>
                <a class="icon-link mb-1" href="/" rel="noopener">
                Всего работают (без технических):
                </a>
                {{ poweredOn }}
            </li>
            <li>
                <a class="icon-link mb-1" href="/vmspoweredoff" rel="noopener">
                Отключены:
                </a>
                {{ poweredOff }}
            </li>
            <li>
                ОС не определена:

                {{ badToolsCount }}
            </li>
            <li>

                Требуют внимания сейчас:

                {{ badOSCount }}
            </li>
            <li>

                Устареют в течение года: 

                {{ badOSCountAfter }}
            </li>
            <li>
                <a class="icon-link mb-1" href="/badexport" rel="noopener">
                Версия для экспорта
                </a>
            </li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">VM</th>
                <th scope="col">Tools</th>
                <th scope="col">OS</th>
            </tr>
        </thead>
        <tbody>
            {% for item in vms %}
            <tr>
                <td>{{ item.resourcePool }}</td>
                <td><b>{{ item.name }}</b></td>
                <td>{{ item.ipAdress }}</td>
                <td>{{ item.prettyName }}</td>
                <td>{{ item.cms }}</td>
                <td>{{ item.kernelVersion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}