{% extends "vmconnectapp/base.html" %}

{% block content %}

<div id="table-container"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch('api/v1/data')
            .then(response => response.json())
            .then(data => {
                new gridjs.Grid({
                    columns: [
                        { id: "id", name: "ID", hidden: true }, // Скрытый ID
                        { 
                            name: "Виртуальная машина", 
                            formatter: (cell, row) => gridjs.html(`
                                <div>
                                    <strong>${row.cells[1].data}</strong> <br>
                                    <small>${row.cells[2].data}</small>
                                </div>
                            `) 
                        },
                        { id: "powerState", name: "Power State" }
                    ],
                    data: data.data.map(vm => [
                        vm.id,
                        vm.name,
                        vm.resourcePool,
                        vm.powerState
                    ]),
                    search: true,
                    sort: true,
                }).render(document.getElementById("table-container"));
            });
    });
</script>


{% endblock content %}