{% extends "vmconnectapp/base.html" %}

{% block content %}

 {% comment %} 
 <!-- <style>
    form:-webkit-any(table, thead, tbody, tfoot, tr) {
        display: block !important;
    } 
</style>  -->
{% endcomment %}

<table>
    <tr>
        <th>Название ВМ</th>
        <th>Кастомное поле</th>
        <th>Действие</th>
    </tr>

    {% for vm in vms %}

    <tr>
        <td>
            {{ vm.name }}
        </td>
        <td>
            <div id="custom-field-{{ vm.id }}" hx-get="{% url 'edit_custom_field' vm.id %}" hx-target="this" hx-swap="outerHTML">
                {{ vm.cms }}
                {% comment %} <button hx-get="{% url 'edit_custom_field' vm.id %}" hx-target="#custom-field-{{ vm.id }}" hx-swap="outerHTML">
                    Редактировать
                </button> {% endcomment %}
            </div>
        </td>
        {% comment %} <td>
            <div id="custom-field-{{ vm.id }}"></div>
        </td> {% endcomment %}
    </tr>
    {% endfor %}
</table>



{% endblock content %}