{% extends "vmconnectapp/base.html" %}

{% block content %}

    <div class="container">
        <div class="col-md-6">
            <h2 class="text-body-emphasis">Обновление vmtools</h2>
            <ul class="list-unstyled ps-0">
            <li>
                Требуют внимания:

                {{ badToolsCount }}
            </li>
            <li>
                Невозможно обновить: 

                0
            </li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">VM</th>
                <th scope="col">Tools</th>
                <th scope="col">OS</th>
            </tr>
        </thead>
        <tbody>
            {% for item in vms %}
            <tr>
                <td><b>{{ item.name }}</b></br>
                    {{ item.ipAdress }}</br>
                    {{ item.powerState }}
                </td>
                <td>{{ item.toolsStatus }}</br>
                    {{ item.vmtoolsdescription }}</br>
                    {{ item.vmtoolsversionNumber }}
                </td>
                <td><b>{{ item.prettyName }}</b></br>
                    {{ item.familyName }} / x{{ item.bitness }} </br>                    
                    {{ item.kernelVersion }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}